* {
	color: black;
}

body,
html {
	background: #b41b1b;
}
nav {
	background: #b41b1b;
	width: 100%;
	height: 100%;
}

.section1 {
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url(../Img/citedImage2.jpg);
	margin-bottom: 50px;
}
.section1 .row {
	width: 100%;
	height: 100%;
	display: flex;
}
.section1 .col-6 {
	display: flex;
	width: 100%;
	height: 100%;
}
.section1 .col-6 h1 {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
}
.col-6 h1 span {
	padding: 35px 40px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 15%;
	color: white;
}
.section1_text {
	text-align: center;
	padding-bottom: 50px;
}
.cite {
	margin: 20px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 20%;
}
.cite h3,
.cite a {
	color: white;
}
.cite a {
	padding: 0 10px;
}
.cite a:hover {
	color: #b41b1b;
}
footer {
	width: 100%;
	height: 150px;
	background-color: rgba(150, 0, 0, 0.8);
}
